plotly
matplotlib
nltk
wordcloud
emoji
pandas
numpy
streamlit
textblob
vaderSentiment
transformers
tqdm
langchain
langchain-core
langchain-community
faiss-cpu
sentence-transformers
google-generativeai
python-dotenv
google-transliteration-api
aksharamukha